.carrousel__ecran--img {
    max-width: 100%;
    height: auto;
}

.carrousel_parent-ecrans {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}
    
.carrousel_ecran figure {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.carrousel {
    box-sizing: border-box;
    margin: 0;
    margin-top: 20px;
    position: relative;
    }
      
    .carrousel_btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background: rgba(114, 218, 105, 0.5);
        border-radius: 50%;
        border: none;
        display: grid;
        place-content: center;
        color: white;
        cursor: pointer;
    }
      
    .carrousel_btn-avant {
        left: 0;
    }
      
    .carrousel_btn-apres {
        right: 0;
    }