.home {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(black, #83B57F);
    margin-top: 90px;
}

.titre__site {
    display: flex;
    font-family: 'Jacques Francois', serif;
    font-size: var(--titre-site);
    background-color: white;
    width: 17rem;
}

font-family: 'Cinzel Decorative', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Text', serif;
font-family: 'Glory', sans-serif;
font-family: 'Jacques Francois', serif;