.home {
    
}

font-family: 'Cinzel Decorative', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Text', serif;
font-family: 'Glory', sans-serif;
font-family: 'Jacques Francois', serif;