.home {
    background: linear-gradient(black, #83B57F);
    margin-top: 90px;
}

font-family: 'Cinzel Decorative', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Text', serif;
font-family: 'Glory', sans-serif;
font-family: 'Jacques Francois', serif;