.footer {
    margin: 0px;
    padding: 0px;
    font-family: 'Glory', sans-serif;
    background-color: black;
    z-index: 2;
    justify-content: space-between;
    align-items:flex-start;
}

.nav__title,
.rs__title,
.footer__title {  
    font-size: var(--titre-pied-de-page);
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer__legend,
.footer__text {
    font-size: var(--textes-pied-de-page);
    color: white;
    text-align: center;
}

.footer__text--link {
    color: var(--couleur-liens);
}

.link1 {
    width: 20px;
    height: 20px;
}

.link2 {
    width: 24px;
    height: 24px;
}

.footer__logo {
    width: 24px;
    height: 24px;
}

.rs,
.nav,
.footer_div {
    margin: 0px;
    border: solid;
    border-color: #0066FF;
    width: 100%;
}

img {
    display: block;
    width: 90%;
    margin: auto;
}