.footer {
    margin: 0px;
    padding: 0px;
    font-family: 'Glory', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav__title,
.rs__title,
.footer__title { 
    margin: 0.5rem;
    padding: 0px;
    font-size: var(--titre-pied-de-page);
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer__legend,
.footer__text {
    font-size: var(--textes-pied-de-page);
    color: white;
    text-align: center;
}

.footer__text::first-letter,
.footer__legend::first-letter {
    font-size: var(--textes-pied-de-page);
}

.footer__text--link {
    color: var(--couleur-liens);
}

.li1__img,
.li2__img {
    width: 20px;
    height: 20px;
}

.li3__img,
.li4__img {
    width: 24px;
    height: 24px;
}

.footer__logo {
    width: 24px;
    height: 24px;
}

.rs,
.nav,
.footer_div {
    border: solid;
    border-color: #0066FF;
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}

.footer__logo {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.link {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 2rem;
    justify-content: center;
}