.header_flag {
    width: 58px;
    height: 37px;
}

.header_logo {
    width: 141;
    height: 39;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}