.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vW;
    height: 100vH;
    background: #0F390E;
    display: grid;
    place-content: left;
    }

    .menu__btn {
        position: relative;
        z-index: 10;
        appearance: none;
        border: none;
        background: none;
        padding: none;
        cursor: pointer;
        margin: 0px;
    }

    .noscroll,
    .noscroll body {
    overflow: hidden;
}

.item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.item__title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: var(--titres-menu);
    color: white;
    text-decoration: none;
    font-style: none;
    padding-bottom: 22px;
    border-bottom: solid;
}

.sousmenu {
    list-style: circle;
    color: white;
    font-size: var(--titres-menu);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.sousmenu__text {
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--titres-menu);
    color: white;
    text-decoration: none;
    font-style: none;
}

.plus {
    cursor: pointer;
}