.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vW;
    height: 100vH;
    background: #0F390E;
    display: grid;
    place-content: left;
    }

    .menu__btn {
        position: relative;
        z-index: 10;
        appearance: none;
        border: none;
        background: none;
        padding: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .noscroll,
    .noscroll body {
    overflow: hidden;
}

.menu__text {
    font-family: 'Cinzel Decorative', cursive;
    font-size: var(--titres-menu);
    color: white;
    list-style: none;
}

.menu__text--logo {
    
}