.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vW;
    height: 100vH;
    background: #0F390E;
    display: grid;
    place-content: left;
    }
    .header__menuBtn {
    position: relative;
    z-index: 10;
    }
    .noscroll,
    .noscroll body {
    overflow: hidden;
}

.menu_text {
    font-family: var();
    font-size: var(--titres-menu);
    color: dodgerblue;
}