.musique {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#6E986B, #83B57F);
}

h1,
h2,
h3 {
    color: var(--couleur-dominante-2);
    margin-left: 5px;
    margin-top: 0px;
}

.intro {
    margin-bottom: 30px;
}

.legend {
    margin: 1rem;
    color: black;
    text-align: center;
}

.illustration__Swift {
    display: block;
    width: clamp(100px, 60%, 600px);
    margin: auto;
    margin-top: 20px;
}

.definition {
    color: var(--menu);
}

.audio__music {
    margin-top: 5px;
}

.audio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

.image {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-right: 1rem;
    margin-left: 1rem;
    gap: 0.5rem;
}

.image__img {
    width: 170px;
    margin: 0px;
    padding: 0px;
}

.legend__paroles {
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--légende-article);
    font-style: italic;
    color: black;
}

.article__block--text {
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

.citation__text {
    padding: 0px;
}