.agir {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#8BC087, #9BD596);
}

h1,
h2,
h3 {
    color: black;
    margin-left: 5px;
    margin-top: 0px;
}

.intro {
    margin-bottom: 30px;
}

.article__text {
    color: black;
}

.article__text--2 {
    color: black;
}

.utils {
    background-color: #D0DB8C;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.utils__li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.definition {
    color: var(--comment-agir-);
}

.citation__text {
    padding: 0px;
    color: black;
}