.contact {
    background-color: #EAEAEA;
}

h2 {
    color: black;
    margin-left: 5px;
    margin-top: 0px;
}

p {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

p::first-letter {
    font-size: var(--texte-articles);
}

.formulaire__champs {
    display: flex;
    flex-direction: column;
}

.formulaire__champs--title {
    display: flex;
    gap: 4px;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--titre-articles);
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.formulaire__champs--texte {
    border: solid;
    border-width: 2px;
    border-radius: 2px;
    color: #83B57F;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.formulaire__champs--message {
    border: solid;
    border-width: 2px;
    border-radius: 2px;
    color: #83B57F;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.formulaire__button {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    height: 56px;
    font-family: 'Crimson Text', serif;
    font-size: var(--button);
    text-transform: uppercase;
    color: var(--textes-menu);
    text-decoration: none;
    background-color: var(--couleur-espoir);
    cursor: pointer;
}

.legend__obligatoire {
    color: red;
    font-weight: bold;
    margin-left: 1px;
}

.legend {
    display: flex;
    flex-direction: row;
    align-items: center;
}