.craintes {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(black, #172016);
}

h1,
h2 {
    color: var(--couleur-dominante-2);
    margin-left: 5px;
    margin-top: 0px;
}

.intro {
    margin-bottom: 30px;
}

.craintes__imgprincipale {
    display: block;
    width: clamp(500px, 100%, 800px);
    margin: auto;
}

.article__li--text {
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--texte-articles);
    margin-right: 5px;
}

.legend {
    margin: 1rem;
    color: #FAFF00;
    text-align: center;
}

.illustration__img {
    display: block;
    width: clamp(199px, 90%, 400px);
    margin: auto;
}

.article__img {
    display: block;
    width: clamp(307px, 90%, 500px);
    margin: auto;
}
