.home {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right,black, #83B57F);
    margin-top: 90px;
}

.home__titre--site {
    text-align: center;
    font-family: 'Jacques Francois', serif;
    font-size: var(--titre-site);
    font-weight: bold;
    background-color: var(--couleur-dominante-2);
    border: solid;
    border-color: var(--couleur-tonique);
    border-width: 10px;
    color: black;
}
.article__button--fleche {
    width: 45.94px;
    height: 44.92px;
}

.article__button {
    font-family: 'Crimson Text', serif;
    font-size: var(--button);
    color: var(--menu);
    text-decoration: none;
    background-color: var(--couleur-dominante-2);
    width: 160px;
    height: 56px;
    border-radius: 5px;
    border: solid;
    border-color: var(--couleur-tonique);
    margin-top: 20px;
    margin-left: 115px;
    padding-left: 15px;
    display:flex;
    align-items: center;
}

.intro__text {
    color: white;
}

p {
    color: black;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

img {
    border-radius: 5px;
}

.article__intro {
    background-color: #ECC5AF;
    width: 233px;
    height: 310px;
    border-radius: 5px;
    margin-top: -30px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}