.interstellar {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#172017, #293928);
}

h1,
h2 {
    color: var(--couleur-dominante-2);
    margin-left: 5px;
    margin-top: 0px;
}

.article__button {
    width: 300px;
    margin-bottom: 20px;
}

.legend {
    margin: 1rem;
    color: #FAFF00;
    text-align: center;
}

.article__img {
    display: block;
    width: clamp(200px, 90%, 500px);
    margin: auto;
}

.illustration {
    display: block;
    width: clamp(347px, 90%, 600px);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article__text--2 {
    margin-left: 5px;
    margin-right: 5px;
}

.article__text--2::first-letter {
    font-size: var(--texte-articles);
}