.islande {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#2A3928, #3C523A);
}

h1,
h2 {
    color: var(--couleur-dominante-2);
    margin-left: 5px;
    margin-top: 0px;
}

.article {
    margin-top: 30px;
}

.legend {
    margin: 1rem;
    color: #FAFF00;
    text-align: center;
}

.article__img {
    display: block;
    width: clamp(175px, 90%, 400px);
    margin: auto;
}

.article__button {
    width: 330px;
}