.livre {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#537250, #6E986B);
}

h1,
h2,
h3 {
    color: var(--couleur-dominante-2);
    margin-left: 5px;
    margin-top: 0px;
}

.intro {
    margin-bottom: 30px;
}

.article__button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.legend {
    margin: 1rem;
    color: #FAFF00;
    text-align: center;
}

.article__img {
    display: block;
    width: clamp(175px, 90%, 400px);
    margin: auto;
}

.illustration {
    display: block;
    width: clamp(100px, 90%, 600px);
    margin: auto;
    margin-top: 20px;
}

.youtube {
    margin-left: 10px;
    padding-bottom: 20px;
}

.resume {
    width: clamp(331px, 80%, 500px);
    margin: auto;
    margin-top: 10px;
}

.resume__title {
    height: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--titre-articles);
    color: var(--couleur-dominante-2);
    font-weight: bold;
    cursor: pointer;
    background: var(--comment-agir-);
    border: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.resume__text {
    background: white;
    color: var(--couleur-espoir);
    border: solid;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}